body {
    font-family: Arial, sans-serif;
}

.background{
    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #b56576;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(181, 101, 118, 0.5);
}

header {
    background-color: maroon;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: -20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block; 
    padding: 10px 20px;
    background-color: maroon;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

button:hover {
    background-color: red;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
